LIB_CLIENTE3_MS/SpConsPeriocidad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.bancoppel.com/Cliente3/SpConsPeriocidad/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns="http://www.bancoppel.com/Cliente3/SpConsPeriocidad/" xmlns:log="http://www.bancoppel.com/Logger">
	<xsd:import schemaLocation="../LIB_LOG/Cabecera.xsd" namespace="http://www.bancoppel.com/Logger" /> 
	<xsd:complexType name="SpConsPeriocidadType">
		<xsd:sequence>
			<xsd:element name="cabecera" type="log:CabeceraType" minOccurs="1" maxOccurs="1" />
			<xsd:element name="pEmpresa" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="pNumSol" type="xsd:string" minOccurs="0" maxOccurs="1" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpConsPeriocidadResponseType"> 
		<xsd:sequence>
			<xsd:element name="registro" type="ns:SpConsPeriocidadRegistroType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpConsPeriocidadRegistroType">
		<xsd:sequence>
			<xsd:element name="cCodigo" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="idPeriodicidad" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="cPeriodicidad" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="cDesPeriocidad" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element ibmSchExtn:docRoot="true" name="SpConsPeriocidad" type="ns:SpConsPeriocidadType" />
	<xsd:element ibmSchExtn:docRoot="true" name="SpConsPeriocidadResponse" type="ns:SpConsPeriocidadResponseType" />
</xsd:schema>

