LIB_CLIENTE3_MS/SpConsultaClienteseIndividual.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.bancoppel.com/Cliente3/SpConsultaClienteseIndividual/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns="http://www.bancoppel.com/Cliente3/SpConsultaClienteseIndividual/" xmlns:log="http://www.bancoppel.com/Logger">
	<xsd:import schemaLocation="../LIB_LOG/Cabecera.xsd" namespace="http://www.bancoppel.com/Logger" /> 
	<xsd:complexType name="SpConsultaClienteseIndividualType">
		<xsd:sequence>
			<xsd:element name="cabecera" type="log:CabeceraType" minOccurs="1" maxOccurs="1" />
			<xsd:element name="pEmpresa" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="pNumCte" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="pTipoBusqueda" type="xsd:int" minOccurs="0" maxOccurs="1" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpConsultaClienteseIndividualResponseType"> 
		<xsd:sequence>
			<xsd:element name="registro" type="ns:SpConsultaClienteseIndividualRegistroType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpConsultaClienteseIndividualRegistroType">
		<xsd:sequence>
			<xsd:element name="vCodRet" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="vNumCredConslt1" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="vNumTarjeta" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="vSE" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="vCausa" type="xsd:int" minOccurs="0" maxOccurs="1" />
			<xsd:element name="vDescripcion" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="vFechaMod" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element ibmSchExtn:docRoot="true" name="SpConsultaClienteseIndividual" type="ns:SpConsultaClienteseIndividualType" />
	<xsd:element ibmSchExtn:docRoot="true" name="SpConsultaClienteseIndividualResponse" type="ns:SpConsultaClienteseIndividualResponseType" />
</xsd:schema>